
.card {
    margin: 1rem;
    mat-card-title {
        line-height: 1.3;
    }
    .form {
        margin: 1rem 0;
    }
    .progress {
        display: flex;
        align-items: center;
        p { flex-basis: 3rem; padding-left: 0.5rem;}
    }
    .progress-bar {
        margin: 0.5rem;
    }
    .filename {
        display: flex;
        align-items: baseline;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
p {
    margin: 0;
}

